name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Install deps
        run: pnpm install --frozen-lockfile
      - name: Prisma generate
        run: pnpm prisma:generate
      - name: Typecheck
        run: pnpm tsc --noEmit
      - name: Build
        run: pnpm build
